@mixin up-down-animation {
  -webkit-animation: mover 0.3s 6 alternate;
  animation: mover 0.3s 6 alternate;

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}

.game-section {
  background-color: gainsboro;
  height: 100vh;
  width: 100%;

  .round {
    font-size: 3em;
  }

  .fight-section {
    display: flex;
    margin-top: 30%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;

    .move {
      width: 100px;
      height: 100px;
      @include up-down-animation;
    }
  }
}
